* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f4f6;
}

/* TOP BAR */
.topbar {
    background: #f39c12;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.logo span {
    font-weight: bold;
}

.menu {
    font-size: 20px;
}

/* LAYOUT */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #2c3e50;
    min-height: calc(100vh - 55px);
    color: white;
}

.profile {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #34495e;
}

    .profile img {
        width: 60px;
        border-radius: 50%;
    }

    .profile span {
        color: #2ecc71;
        font-size: 12px;
    }

.nav {
    list-style: none;
}

    .nav li {
        padding: 15px 20px;
        cursor: pointer;
        border-bottom: 1px solid #34495e;
    }

        .nav li i {
            margin-right: 10px;
        }

        .nav li:hover,
        .nav .active {
            background: #1abc9c;
        }

/* CONTENT */
.content {
    flex: 1;
    padding: 25px;
}

    .content h2 span {
        color: #888;
        font-size: 14px;
    }

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 25px;
}

.card {
    color: white;
    padding: 25px;
    border-radius: 4px;
}

    .card h1 {
        font-size: 40px;
    }

.blue {
    background: #00c0ef;
}

.green {
    background: #00a65a;
}

.orange {
    background: #f39c12;
}

.red {
    background: #dd4b39;
}

/* STATUS */
.status {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.box {
    background: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 4px;
}

    .box i {
        font-size: 35px;
        color: white;
        padding: 15px;
        border-radius: 50%;
    }

    .box.blue i {
        background: #00c0ef;
    }

    .box.green i {
        background: #00a65a;
    }

    .box.red i {
        background: #dd4b39;
    }

    .box.orange i {
        background: #f39c12;
    }

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #fff;
    font-size: 14px;
    color: #555;
}
